
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text text-accent-2">mywork challenge</h1>
      <div class="row center">
        <h5 class="header col s12 light">
          Select the option bellow for <strong>Manager</strong> or <strong>Employee</strong>:
        </h5>
      </div>
      <div class="row center">
        <%= link_to 'I\'m a Manager', all_geofences_path, class: 'btn-large waves-effect waves-light red accent-2' %>
        &nbsp;
        <%= link_to 'I\'m an Employee', all_timetracks_path, class: 'btn-large waves-effect waves-light red accent-2' %>
      </div>
      <br><br>
    </div>
  </div>

