<div id="app">
  <%= form_for(:timetrack, url: timetracks_register_location_path, local: true, html: { ref: 'form', class: 'test' }) do |f| %>
    <%= f.hidden_field :latitude, 'v-model': 'latitude' %>
    <%= f.hidden_field :longitude, 'v-model': 'longitude' %>
    <%= f.submit 'Send', { class: 'hide' } %>
  <% end %>
  <div class="container blue-grey-text text-lighten-1 center-align">
    <br><br><br>
    <div v-if="!deniedAccess">
      <h1>You must accept location access to proceed</h1>
      <h2 class="flow-text">Please, click on <strong>Allow Location Access</strong> button above.</h2>
    </div>
    <div v-else>
      <h1>You must Reload the page to proceed</h1>
      <h2 class="flow-text">Please, click on the refresh button or press F5.</h2>
    </div>
    <br><br><br>
  </div>
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    latitude: null,
    longitude: null,
    deniedAccess: false,
  },
  methods: {
    getUserPosition() {
      navigator.geolocation.getCurrentPosition(position => {
        this.latitude = position.coords.latitude
        this.longitude = position.coords.longitude
        this.$nextTick(() => {
          this.$refs.form.submit()
        })
      }, error => {
        this.deniedAccess = true
      })
    }
  },
  mounted() {
    this.getUserPosition()
  }
})

</script>